:root {
    --digitos: #505050;
    --calculos: #FF9500;
    --dark: black;
    --light: #D4D4D2;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.calculadora {
    width: 355px;
    height: 615px;
    background-color: var(--dark);
    border-radius: 60px;
    padding: 2.5%;
    padding-top: 10%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.display {
    color: white;
    font-family: ".SF NS", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 80px;
    text-align: right;
    padding: 3%;
    font-weight: normal;
}

.operation {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}


.operadores-especiales {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.operadores-especiales button {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    border: none;
    margin-bottom: 10px;

}
#division{
    background-color: var(--calculos);
    color: white;
}

.display-principal{
    display: grid;
    grid-template-columns: 1fr 84px;
    grid-template-rows: 1fr;

    grid-template-areas:
    "numeros operadores"
        ;

}

.numeros{
    grid-area: numeros;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    justify-content: space-between;
}
.numeros button{
    background-color: var(--digitos);
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    border: none;
    margin-bottom: 10px;


}
.operadores{
    grid-area: operadores;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.operadores button{
    background-color: var(--calculos);
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    border: none;
    margin-bottom: 10px;

}










